<a href="https://colab.research.google.com/github/jssaini7815/Basic-Python/blob/main/nycflight13_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install nycflights13

Requirement already satisfied: nycflights13 in c:\users\dell\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\dell\anaconda3\lib\site-packages (from nycflights13) (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.0->nycflights13) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->nycflights13) (1.15.0)

In [ ]:
import os
os.getcwd()

'C:\\Users\\Dell'

In [ ]:
import os 
import time
import time

named_tuple = time.localtime() # get struct_time
time_string = time.strftime("%m/%d/%Y", named_tuple)

print(time_string)

05/04/2021

In [ ]:
from nycflights13 import flights
#flights=flights.set_index('month')
#flights is the combined, tidied data, but can also import individual pieces..
#from nycflights13 import airports

In [ ]:
flights

In [ ]:
flights.rename(index={'1': "JAN", '2':"FEB",'3':'MAR','4':'APR','5':'MAY','6':'JUNE','7':'JUL','8':'AUG','9':'SEP'},inplace=True)

In [ ]:
flights.head()

In [ ]:
flights.info()

In [ ]:
from datetime import datetime
flights['date']= flights.apply(lambda x:datetime.strptime("{0} {1} {2}".format(x['year'],x['month'], x['day']), "%Y %m %d"),axis=1)
flights.info()

In [ ]:
flights.arr_delay

In [ ]:
flights.date

In [ ]:
flights.columns

In [ ]:
from datetime import date
import os 
import time
import time

local_time = time.localtime() # get struct_time
time_string = time.strftime("%m/%d/%Y", local_time)

#print(time_string)

  
def Age(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) <(birthDate.month, birthDate.day))
  
    return age
      
# Driver code 
print(Age(date(1992, 4, 8)), "years")

In [ ]:
flights.dropna(axis=0)

In [ ]:
flights['TotalDelay']= flights.arr_delay + flights.dep_delay

In [ ]:
flights['TotalDelay']=flights['TotalDelay'].dropna(axis=0)
flights['TotalDelay']

In [ ]:
#flights['TotalDelaylessthan3']=flights['TotalDelay']<3
flights.dest

In [ ]:
flights.loc[flights.TotalDelay <3,:]

In [ ]:
flights.carrier

In [ ]:
print(flights.loc[flights['carrier'].isin(['UA','AA','DL'])])

In [ ]:
flights.TotalDelay

In [ ]:
flights['dest']

In [ ]:
flights.set_index('month')

In [ ]:
#flights.rename(index = {"1": "JAN", "2":"FEB"},inplace =True,axis=0)

In [ ]:
data=flights
data.set_index('month')
#data.rename(index={'1': "JAN", '2':"FEB",'3':'MAR','4':'APR','5':'MAY','6':'JUNE','7':'JUL','8':'AUG','9':'SEP'},inplace=True)
data

In [ ]:
data.month.rename({'1': "JAN", '2':"FEB",'3':'MAR','4':'APR','5':'MAY','6':'JUNE','7':'JUL','8':'AUG','9':'SEP'},axis=0,inplace=True)

In [ ]:
# Arrived more than two hours late, but didn???t leave late
flights.loc[(flights.dep_delay<1) & (flights.arr_delay>2)]

In [ ]:
data

In [ ]:
print(data.loc[data['month'].isin(['7','8','9'])])1

In [ ]:
#data.set_index(month)
#data.month.rename({'1': 'Jan', '2': 'Feb'})

In [ ]:
print(flights.loc[flights['dest'].isin(['IAH','HOU'])])

In [ ]:
#Were delayed by at least an hour, but made up over 30 minutes in flight
flights.head()
flights.flight.loc[(flights.dep_delay>1) & (flights.minute>30)]

In [ ]:
!pip install datestr
from datestr import Date

Requirement already satisfied: datestr in c:\users\dell\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: future in c:\users\dell\anaconda3\lib\site-packages (from datestr) (0.18.2)
Requirement already satisfied: python-dateutil in c:\users\dell\anaconda3\lib\site-packages (from datestr) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil->datestr) (1.15.0)

In [ ]:
flights.time_hour=pd.to_datetime(flights.time_hour)
flights.time_hour



# from datetime import datetime, timezone
# datetime(flights.time_hour, tzinfo=timezone.utc).isoformat()

0        2013-01-01 10:00:00+00:00
1        2013-01-01 10:00:00+00:00
2        2013-01-01 10:00:00+00:00
3        2013-01-01 10:00:00+00:00
4        2013-01-01 11:00:00+00:00
                    ...
336771   2013-09-30 18:00:00+00:00
336772   2013-10-01 02:00:00+00:00
336773   2013-09-30 16:00:00+00:00
336774   2013-09-30 15:00:00+00:00
336775   2013-09-30 12:00:00+00:00
Name: time_hour, Length: 336776, dtype: datetime64[ns, UTC]

In [ ]:
flights.time_hour.dt.year

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
336771    2013
336772    2013
336773    2013
336774    2013
336775    2013
Name: time_hour, Length: 336776, dtype: int64

In [ ]:
flights.time_hour.dt.month

In [ ]:
flights.time_hour.dt.day

In [ ]:
flights['hour']=flights.time_hour.dt.hour

In [ ]:
flights.hour
flight_mid_night_six=flights.loc[(flights.hour>0) & (flights.hour<6)]
flight_mid_night_six
# Departed between midnight and 6am (inclusive)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
734,2013,1,1,1952.0,2000,-8.0,2314.0,2325,-11.0,VX,415,N640VA,JFK,LAX,349.0,2475,1,0,2013-01-02 01:00:00+00:00
736,2013,1,1,1955.0,2000,-5.0,2145.0,2151,-6.0,9E,3409,N920XJ,JFK,PIT,76.0,340,1,0,2013-01-02 01:00:00+00:00
737,2013,1,1,1957.0,2005,-8.0,2100.0,2126,-26.0,9E,4091,N8598B,JFK,BWI,41.0,184,1,5,2013-01-02 01:00:00+00:00
739,2013,1,1,1957.0,2000,-3.0,2321.0,2310,11.0,UA,299,N817UA,EWR,DFW,233.0,1372,1,0,2013-01-02 01:00:00+00:00
741,2013,1,1,1959.0,2000,-1.0,2310.0,2307,3.0,UA,1233,N76514,EWR,IAH,232.0,1400,1,0,2013-01-02 01:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,2,50,2013-10-01 02:00:00+00:00
336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,2,46,2013-10-01 02:00:00+00:00
336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,2,55,2013-10-01 02:00:00+00:00
336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,3,59,2013-10-01 03:00:00+00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,2,0,2013-10-01 02:00:00+00:00

In [ ]:
# # time = flights.time_hour
# # new_time_stamp=datestr(time,'yyyy-mm-ddTHH:MM:SSZ')
# # #2013-01-01T10:00:00Z

# from datestr import Date
# from datetime import datetime, date
# # Date(str(flights.time_hour)).relativedelta()
# # # >>> '2018-06-03'
# # Date(datetime(2018, 6, 3, 12, 15, 30)).relativedelta()

In [ ]:
#!pip install python-dateutil

# from dateutil.parser import parse 
# dt = parse(str(flights.time_hour))
# dt.year

# dt.month

# dt.day

# dt.hour

# dt.minute

# dt.second

In [ ]:
# Departed between midnight and 6am (inclusive)
flights.head()
#flights.loc[(flights.time_hour>=12) and (flights.time_hour<=6)]

from datetime import datetime
from datetime import date
from datetime import time
import pandas as pd
from datetime import datetime

# flights.time_hour = flights['time_hour'].str.split(n=1, expand=True)

# flights.time_hour


# flights['time_hour']

# flights['date'] = pd.split(flights['time_hour'], periods=6, freq='W')
# print(flights['date'])

#flights['time_hour'] = pd.to_datetime(flights['time_hour']).dt.date
# pd.to_datetime(flights['time_hour'])
# pd.to_datetime(your_series)
# type(flights['time_hour'])
# flights['time_hour']
#pd.to_datetime(flights['time_hour'])
# print(flights.time_hour.head())
# Series.to_string(flights['time_hour'])
#flights['time_hour'] = pd.Series(flights['time_hour'], dtype=pd.StringDtype)
# Considering date is in mm/dd/yyyy format
# dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
# print("dt_object2:", dt_object2)

# # Convert dt_object2 to Unix Timestamp
# timestamp = datetime.timestamp(dt_object2)
# print('Unix Timestamp: ', timestamp)

# # Convert back into datetime
# date_time = datetime.fromtimestamp(timestamp)
# d = date_time.strftime("%c")
# print("Output 1:", d)
# d = date_time.strftime("%x")
# print("Output 2:", d)
# d = date_time.strftime("%X")
# print("Output 3:", d)



# my_string = flights.time_hour

# # Create date object in given time format yyyy-mm-dd
# my_date = datetime.strptime(my_string, "%Y-%m-%d %H:%M:%S")

# print(my_date)
# print('Type: ',type(my_date))

# dt_series=flights.time_hour
# dt_string=datetime(dt_series)
# #dt_string=datetime.strptime(flights.time_hour,'%Y/%m/%d %H:%M:%S')
# type(dt_string)

# # Considering date is in dd/mm/yyyy format
# dt_object1 = datetime.strptime(dt_string, "%H:%M:%S")
# print("dt_object1 =", dt_object1)

# Considering date is in mm/dd/yyyy format
# dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
# print("dt_object2 =", dt_object2)

In [ ]:

# Q1. Write a function that given your birthday (as a date), returns how old you are in years.
# Ans1 
from datetime import date
import os 
import time
import time

local_time = time.localtime() # get struct_time
time_string = time.strftime("%m/%d/%Y", local_time)

#print(time_string)

  
def Age(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) <(birthDate.month, birthDate.day))
  
    return age
      
# Driver code 
print(Age(date(1992, 4, 8)), "years")

### Ans1 Ends ####

# Q2. What happens if you parse a string that contains invalid dates? Ex: ymd(c("2010-10-10", "bananas"))
# Ans2 ymd(c("2010-10-10", "bananas"))
'''
It returns the parsed object as a Date object (so it parses it) but returns the failed string as NA.

'''

### Ans2 Ends ####

# Q3. How do you import default dataset presend in R to work session
# Ans3 In Python 

!pip install nycflights13
from nycflights13 import flights

# Ans3 Ends

###########################################################
#### Using the flights data, Find all the flights that ####
#### Instruction: Paste just the query which gives the correct output ##

# Q4. Had an delay in arrival of 3 or less hours
# Ans4 
flights['TotalDelay']= flights.arr_delay + flights.dep_delay
flights['TotalDelay']=flights['TotalDelay'].dropna(axis=0)
flights['TotalDelay']
flights.flight.loc[flights.TotalDelay <3,:]


# Ans4 Ends

# Q5. Flew to Houston (IAH or HOU)
# Ans5
print(flights.flight.loc[flights['dest'].isin(['IAH','HOU'])])
# Ans5 Ends

#Q6. Were operated by United, American, or Delta
# Ans6
print(flights.flight.loc[flights['carrier'].isin(['UA','AA','DL'])])

# Ans6 Ends

# Q7. Departed in summer (July, August, and September)
# Ans 7 
data=flights
print(data.flight.loc[data['month'].isin(['7','8','9'])])


# Ans7 Ends

# Q8. Arrived more than two hours late, but didn???t leave late
# Ans8
# Arrived more than two hours late, but didn???t leave late
flights.flight.loc[(flights.dep_delay<1) & (flights.arr_delay>2)]



# Ans8 Ends

# Q9. Were delayed by at least an hour, but made up over 30 minutes in flight
# Ans9
flights.flight.loc[(flights.dep_delay>1) & (flights.minute>30)]

# Ans9 Ends

#Q10. Departed between midnight and 6am (inclusive)
#Ans10
flights.time_hour=pd.to_datetime(flights.time_hour)
flights.time_hour
flights['hour']=flights.time_hour.dt.hour
flights.hour
flight_mid_night_six=flights.flight.loc[(flights.hour>0) & (flights.hour<6)] ##  24 hour time format is given >0 means midnight time <6 means upto 6 o'clock morning time 
flight_mid_night_six
# Departed between midnight and 6am (inclusive)

#Ans 10 Ends